body{
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #ffffff;
  color:#000000;
  font-size:1.3em!important
}
button{
  border-radius:3px;
  outline:none!important
}

.font-14{
  font-size: 14px;
}